
<div class="details-block">
	<ul>
		<% cache @post do%>
			<li>
				<img src="<%= @post.image.url() %>">
				<div class="action">
					<a href="<%= @post.image.url(:medium) %>" download><i class="fa fa-cloud-download"></i></a>
					<i class="fa fa-copy"></i>
					<i class="fa fa-facebook"></i>
				</div>
			</li>
		<% end %>
    <div class="post-details" >
    	<p><b>Dialog :</b> <%= @post.title %></p>
    	<p><b>Movie :</b> <%= link_to @post.movie.title  if @post.movie.present?  %></p>
    	<p><b>Category :</b> <%= link_to @post.category.name,posts_path(:category_id =>@post.category_id ) if @post.category_id.present? %></p>
    	<p><b>Tags :</b>
    	<%@tags.each do |tag|%>
    	 <%= link_to tag.title,posts_path(:tag_id =>tag.id)  %>
    	<% end %>
    	</p>
    	<p>
    		<%= render_shareable :buttons=> [ 'facebook','twitter','google_plus'] %>
		</p>
<iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/Kuttimamaofficial&amp;width=320&amp;height=240&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=1504012106485142" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:290px; height:240px;" allowtransparency="true"></iframe> 
    </div> 
	</ul>

</div>
<br class="clearfix">
<div class = "related-post-block">
  <h5>Related Photos</h5>
  <ul>
		  <% @related_posts.each do |post| %>
		  	<li>
		  		<%= link_to image_tag(post.image.url(:thumb)),post_path(post) %>
			  </li>
		  <% end %>
	</ul>
</div>
